<div>
  <div>
    <h2>Cadastrar Pessoa</h2>
  </div>

  <div  id="loading-div" *ngIf="isLoading; else form " class="loading" >
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <ng-template #form>
    <div class="mat-elevation-z8 form-card" id="person-form">
      <form [formGroup]="peopleForm" (ngSubmit)="onSubmit()">
        <div *ngIf="peopleForm.get('id').value">
          <mat-form-field >
            <input id="id" matInput placeholder="id" [errorStateMatcher]="matcher"  formControlName="id"/>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input id="name" matInput placeholder="Nome" [errorStateMatcher]="matcher"  formControlName="name"/>
            <mat-error>
              <span *ngIf="!peopleForm.get('name').valid && peopleForm.get('name').touched">Entre com o nome da pessoa</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field >
            <input  id="age" matInput placeholder="Idade" type="number" min="0" max="120" [errorStateMatcher]="matcher"  formControlName="age"/>
            <mat-error>
              <span  *ngIf="!peopleForm.get('age').valid && peopleForm.get('age').touched">Entre com a idade</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field >
            <input id="cpf" matInput placeholder="CPF" [errorStateMatcher]="matcher"  formControlName="cpf"/>
            <mat-error>
              <span *ngIf="!peopleForm.get('cpf').valid && peopleForm.get('cpf').touched">Entre com o cpf</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div style="margin-top:10px ">
          <button id="save" [disabled]="!peopleForm.valid" mat-raised-button color="primary" type="submit">Salvar</button>
        </div>
      </form>


    </div>
  </ng-template>

</div>
