.info-card{
  padding: 20px;
  margin-top: 15px;
}

.span-strong{
  font-weight: bolder;
  padding: 5px;
}

.list-detail {
  list-style: none;
}
.list-detail li {
  margin: 10px;
}
.button-menu{
  margin:5px;
}
.button-menu button{
  margin:5px;
}
